.Nav_Btn {
  width: 140px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(
    to right,
    #77530a,
    #ffd277,
    #77530a,
    #77530a,
    #ffd277,
    #77530a
  );
  background-size: 250%;
  background-position: left;
  color: #ffd277;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 1s;
  overflow: hidden;
}

.Nav_Btn::before {
  position: absolute;
  content: "CONTACT US";
  color: #ffd277;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 97%;
  height: 90%;
  border-radius: 8px;
  transition-duration: 1s;
  background-color: rgba(0, 0, 0, 0.842);
  background-size: 200%;
}

.Nav_Btn:hover {
  background-position: right;
  transition-duration: 1s;
}

.Nav_Btn:hover::before {
  background-position: right;
  transition-duration: 1s;
}

.Nav_Btn:active {
  transform: scale(0.95);
}

/* ==================== */

.Home_Btn {
  --green: #ffea00;
  font-size: 15px;
  padding: 0.7em 2.7em;
  letter-spacing: 0.06em;
  position: relative;
  font-family: inherit;
  border-radius: 0.6em;
  overflow: hidden;
  transition: all 0.3s;
  line-height: 1.4em;
  border: 2px solid var(--green);
  background: linear-gradient(
    to right,
    rgba(255, 242, 0, 0.1) 1%,
    transparent 40%,
    transparent 60%,
    rgba(255, 238, 0, 0.1) 100%
  );
  color: var(--green);
  box-shadow:
    inset 0 0 10px rgba(255, 255, 0, 0.4),
    0 0 9px 3px rgba(242, 255, 0, 0.1);
}

.Home_Btn:hover {
  color: #ffee00;
  box-shadow:
    inset 0 0 10px rgba(255, 255, 0, 0.4),
    0 0 9px 3px rgba(255, 255, 0, 0.4);
}

.Home_Btn:before {
  content: "";
  position: absolute;
  left: -4em;
  width: 4em;
  height: 100%;
  top: 0;
  transition: transform 0.4s ease-in-out;
  background: linear-gradient(
    to right,
    transparent 1%,
    rgba(255, 255, 0, 0.2) 40%,
    rgba(255, 255, 0, 0.2) 60%,
    transparent 100%
  );
}

.Home_Btn:hover:before {
  transform: translateX(15em);
}
